* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: rgb(1, 6, 20);
    color: white;
}

h1 {
    color: antiquewhite;
    margin-bottom: 20px;
}
.newGame {
    background-color: rgb(6, 107, 107);
    color: black;

    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.Rock, .paper, .scissor {
    padding: 10px;
    border: none;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
    font-weight: 800;
    font-size: 3rem;
    border-radius: 4rem;
}

button:hover {
    outline: 2px solid goldenrod;
}

.scale-up-center {
    animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.display {
    width: 320px;
    height: 170px;
    border: 3px solid darkblue;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 10px;
}

.just {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.resulted {
    width: 300px;
    height: 50px;
    border: 2px solid rgb(139, 113, 0);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 20px;
}

.result {
    width: 300px;
    height: 80px;
    border: 2px solid rgb(139, 113, 0);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 20px;
}

.theIner {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.me {
    color: rgb(0, 139, 81);
}
.computer {
  color:  rgb(139, 0, 104)
}

.movedisplay  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.mychoice {
    width: 100px;
    height: 70px;
    border: 9px solid rgb(0, 139, 81);
    font-weight: 800;
    font-size: 2.5rem;
    border-radius: 20px;
    /* background-color: rgb(0, 139, 81); */
}
.comchoice {
    width: 100px;
    height: 70px;
    border: 9px solid rgb(139, 0, 104);
    font-weight: 800;
    font-size: 3rem;
    border-radius: 20px;
    /* background-color: rgb(139, 0, 104); */
}

.mychoice, .comchoice {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.wrap {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.theresult {
    text-align: center;
}

.win {
    width: 100%;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.red {
    color: red;
}




.reset {
    background-color: rgb(6, 107, 107);
    color: black;

    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.8rem;
}
